<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="customLog" value="D:\\projects\\bin\\Log.txt"/>
    <add key="errorLog" value="D:\\projects\\bin\\Log_error.txt"/>
    <add key="testFile" value="D:\\projects\\bin\\shipmentlines1000.csv"/>
    <add key="QandD" value="true"/>
  </appSettings>
</configuration>